* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Segoe UI", Arial, sans-serif;
    line-height: 1.4;
    color: #444;
    background: #fff;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.cards{
    display: flex;
    flex-direction: row;
    margin-top: 5rem;
}

.card {
    background-color: #FFC971;
    box-sizing: content-box;
    min-height: 30rem ;
    max-height: 30rem;
    font-size: 1.5rem;
    font-family: cursive;
    font-weight: 700;
    line-height: 1.6;
    border: 2px solid black;
    padding: 4rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 25rem;
    max-width: 25rem;
}

.card span{
    cursor: pointer;
}

.page-link{
    padding: 10px;
    text-decoration: none;
    border: 1px solid black;
    margin: .5rem;
    
}

.page-link:hover{
    transform: scale(1.1);
    background-color: skyblue;
    color: black;
    cursor: pointer;
}

.header {
    margin: 20px 0;
}


.token-header {
    margin: 20px 0;
    font-size: 8rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}